:root {
    --primary-color: #d23;
    --secondary-color: #fffffF;
    --accent-color: #6f5d41;
    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #333;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    margin: 20px;
}

p {
    padding: 0;
    margin-bottom: 15px;
    color: var(--secondary-color);

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px;
}

.hero {
    position: relative;
    min-height: 400px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--accent-color);
    padding: 15px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}